<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pocket-Size</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Original URL</th>
        <th scope="col">Shortened URL</th>
        <th scope="col">Change URL</th>
        <th scope="col">Delete URL</th>
      </tr>
    </thead>

    <tbody>
      <% for (var i in urls) { %>
        <tr>
          <th>
            <%= urls[i] %>
          </th>
          <th>
            <%= i %>
          </th>
          <th>
            <form method="GET" action="/urls/<%= i %>/">
              <button type="button submit" class="btn btn-secondary btn-sm">CHANGE</button>
            </form>
          </th>
          <th>
            <form method="POST" action="/urls/<%= i %>/delete">
              <button type="button submit" class="btn btn-secondary btn-sm">DELETE</button>
            </form>
          </th>
        </tr>
        <% }; %>
    </tbody>
  </table>

  <% if (messages.length > 0) { %>
    <div class="alert alert-danger" role="alert"> <%=  messages; %> </div>
  <% } %>
</body>

</html>